#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(78, 78, 78);

    
}


#drawingSpace {
    background-color: rgb(226, 224, 224);
    height: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
   
  
.grid {
    margin: 0;
    padding: 0;
    border: none;
    display: inline-block;
  }

  .btns{
      display: flex;
      flex-direction: rows;

  }

.boxes{
  height:auto;
}